.background{
  background: url('./Assets/wallpaper.jpg');

}
.main {
  min-height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 20px;
}

.app-container {
  display: flex;
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

.main-content {
  
  flex: 1;
  background-color: #f0f4ff;
  padding: 20px;
  overflow-y: auto;
  border-radius: 8px;
  height: 88vh;
}
