.claim-form {
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

.claim-input {
    display: flex;
    flex-direction: column;
}

.form-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.form-group {
    box-sizing: border-box;
    min-width: 200px;
}


.form-container .form-group:nth-child(1),
.form-container .form-container .form-group:nth-child(2) {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

input,
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

p {
    font-size: 0.9em;
    color: #666;
    margin-top: 5px;
}

.dull-text {
    color: #888;
    font-weight: normal;
    font-size: 0.8rem;
}


.highlighted-text {
    position: relative;
    margin-bottom: 20px;
   
}

.dull-text {
    color: #999;
    font-weight: normal;
}


.highlight-line {
    position: relative;
}

.highlight-line::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
   
    width: 100%;
    
    height: 2px;
 
    background-color: #2f80ed;
   
}


@media (max-width: 1200px) {
    .form-container {
        grid-template-columns: 1fr;
        gap: 15px;
    }

    .form-group {
        min-width: 100%;
    }

    .form-container .form-group:nth-child(1),
    .form-container .form-group:nth-child(2) {
        margin-bottom: 15px;
    }

    input,
    select {
        padding: 8px;
    }

    label {
        font-size: 1rem;
    }

    .dull-text {
        font-size: 0.75rem;
    }


    .highlighted-text {
        font-size: 1rem;
        text-align: center;
    }

    .highlight-line::after {
        height: 1px;
    }
}