.sidebar {
    background-color: #f7f9ff;
    width: 220px;
    height: 88vh;
    padding: 20px;
}

.logo-upper {
    display: flex;
    align-items: center;
}

.logo {
    font-size: 1.8rem;
    color: #2b2b2b;
    margin-bottom: 30px;
    margin-left: 10px;
}

.menu {
    list-style: none;
    padding: 0;
}

.menu li {
    display: flex;
    align-items: center;
    margin: 15px 0;
    font-size: 1.1rem;
    cursor: pointer;
}

.menu li svg {
    margin-right: 10px;
}

.cta {
    margin-top: 50px;
    text-align: center;
}

.cta img {
    width: 80%;
    margin-bottom: 10px;
}